.site-menu
	.site-menu__bg
	.site-menu__container
		nav.site-menu__nav
			ul.site-menu__list
				li.site-menu__item
					a(href="").site-menu__link
						|	О нас
				li.site-menu__item
					a(href="").site-menu__link
						|	Кейсы
				li.site-menu__item
					a(href="").site-menu__link
						|	Контакты
