section.section(data-step="third")
	.section__aside
		.section__container(data-simplebar)
			._text-container
				.section__tags
					span
						|	#Lorem, ipsum.
					span
						|	#Lorem, ipsum.
				h1.section__heading
					|	Lorem, ipsum dolor.
				p.section__text
					|	Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque accusamus et, aut doloremque repellat, atque accusantium, animi at sed ducimus numquam! Sed alias hic facilis magnam maxime soluta dignissimos asperiores reprehenderit, vero, et adipisci ab at ex eos commodi accusantium nisi doloribus nostrum dolor modi illo qui fuga quod. Reprehenderit!
			.section__img
				.layer.lazy(data-bg="img/zavod.jpg", data-bg-fallback="img/zavod.webp")
			._text-container
				h2.section__legend
					|	Lorem, ipsum.
				p.section__text
					|	Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque accusamus et, aut doloremque repellat, atque accusantium, animi at sed ducimus numquam! Sed alias hic facilis magnam maxime soluta dignissimos asperiores reprehenderit, vero, et adipisci ab at ex eos commodi accusantium nisi doloribus nostrum dolor modi illo qui fuga quod. Reprehenderit!
			.section__img
				.layer.lazy(data-bg="img/zavod1.jpg", data-bg-fallback="img/zavod1.webp")
			.section__buttons
				button.button.button-primary.showNext-button
					|	Дальше
					span.button-primary__hover
