section.section
	aside.section__aside
		.section__container
			.section__tags
				span
					|	#Lorem, ipsum.
				span
					|	#Lorem, ipsum.
			h1.section__heading
				|	Lorem, ipsum dolor.
			p.section__text
				|	Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur dolore odit maxime esse ducimus ipsam?
