.header {
	padding: 24px 0;

	&__container {
		display: flex;
	}

	&__burger {
		position: relative;
		z-index: 50;
		margin-left: auto;

		&:hover {
			span {
				background-color: $color-yellow;
			}
		}
	}
}
