*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	font-size: 16px;
}

body {
	box-sizing: border-box;
	color: $main-color;
	font-family: $main-font-family;
	background-color: $main-bg-color;

	@include _2100 {
		zoom: 1.2;
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $second-font-family;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.site-container {
	width: 100%;
	margin: 0 auto;
	padding: 0 60px;

	@include _1366 {
		padding: 0 40px;
	}

	@include _1200 {
		padding: 0 35px;
	}

	@include _992 {
		padding: 0 24px;
	}

	@include _480 {
		padding: 0 16px;
	}
}

.page-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.page-main {
	flex-grow: 1;
}

.button-reset {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	border-radius: 0;
}
