// Typography
$main-font-family: "Roboto", sans-serif;
$second-font-family: "Roboto", sans-serif;

// colors
$main-color: #191919;
$main-bg-color: #e5e5e5;
$color-white: #fff;
$color-yellow: #f4bf4b;
